/* ... (estilos existentes permanecem os mesmos) */

.banner-image {
    display: block;
    width: 100%;
    max-width: 800px; /* Ou o valor que você ajustou */
    height: auto;
    margin: 0 auto 20px auto;
    border-radius: 4px; /* Opcional */
}

a[href="../index.html"] {
    text-decoration: none; /* Remove sublinhado do link */
}

.button-container {
    display: flex;
    align-items: center; /* Alinha verticalmente os itens */
    gap: 10px; /* Espaçamento entre os botões e a mensagem */
    margin-top: 10px;
}

.support-note {
    font-size: 0.9em; /* Mesma fonte size de .info-note */
    color: #a0a0a0; /* Mesma cor de .info-note */
    padding: 5px; /* Pequeno padding para melhor aparência */
    word-break: break-all; /* Permite quebras em qualquer ponto, se necessário */
    max-width: 50%; /* Limita a largura da mensagem para evitar ultrapassar */
}

button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0;
    width: auto;
    display: inline-block;
    height: 40px;
}

button:hover {
    background-color: #5a5a5a;
}
